body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, rgb(145, 205, 177), rgb(193, 158, 158));
  font-family: 'Poppins', sans-serif;
}

.calculator {
  background: linear-gradient(90deg, rgb(255, 128, 0), white, green);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(103, 191, 200, 0.9);
  width: 320px;
}


#display {
  width: 100%;
  height: 75px;
  background: black;
  color: whitesmoke;
  font-size: 2rem;
  text-align: right;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: black;
  color: whitesmoke;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: brown;
}

.equal {
  background: rgb(12, 12, 188);
}

.del{
  background-color: red;
}

.ac{
  background-color: lightseagreen;
}
.equal:hover {
  background: #ffc107;
}

.zero {
  grid-column: span 2;
}