body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, rgb(0, 255, 136), rgb(215, 230, 11));
  font-family: 'Poppins', sans-serif;
}

.calculator {
  background: linear-gradient(90deg, rgb(255, 128, 0), white, rgb(7, 118, 7));
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.9);
  width: 320px;
}


#display {
  width: 100%;
  height: 60px;
  background: #000;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  padding-right: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: black;
  color: whitesmoke;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #555;
}

.equal {
  background: blue;
}

.del{
  background-color: red;
}

.acn{
  background-color: brown;
}
.equal:hover {
  background: #ffc107;
}

.zero {
  grid-column: span 2;
}