* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f4f7f6;
  color: #333;
}

/* Header */
header {
  background-color: rgb(44, 136, 44);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
   box-shadow: 0px 5px 15px grey;
}

.logo {
  font-size: 1.9rem;
  font-weight: 700;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero {
  background: url('https://images.unsplash.com/photo-1501004318641-b39e6451bec6?auto=format&fit=crop&w=1600&q=80') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-content {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px green;
}

.hero button {
  background-color: #f9a875;
  border: none;
  color: white;
  padding: 12px 25px;
  margin-top: 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button{
  box-shadow: 0px 5px 15px rgb(130, 185, 172);
}

.hero button:hover {
  background-color: rgb(164, 148, 59);
}

/* About Section */
.about, .services, .contact {
  padding: 60px 20px;
  text-align: center;
}

.about p, .contact p {
  max-width: 800px;
  margin: 15px auto;
  font-size: 1.1rem;
}

/* Services */
.services {
  background: #eaf7ee;
}

.service-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.service {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px green;
}

/* Footer */
footer {
  background-color: #2e8b57;
  color: white;
  text-align: center;
  padding: 15px;
}